@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th class="padding">
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>
<h2>Contact Us</h2>
<address>
    <b>Rizky Abraham</b> <br/>
    525 S Center St<br />
    Rexburg, ID 83460-8000<br />
    <abbr title="Phone">P:</abbr>
    208.496.2630
</address>

<address>
    <strong>Email:</strong> <a href="mailto:abr17003@byui.edu">rizkyabraham@byui.edu</a><br />
</address>