@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" id="mainPage">
    <img src="~/images/contoso.png" />
    <h2 class="col-lg-6">Change your life. Start here with us at Contoso University</h2>
    <a asp-area="" asp-controller="Home" asp-action="About" class="btn btn-danger">Learn More</a>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Manage Students</h2>
        <p>Add or edit students' details</p>
        <a asp-area="" asp-controller="Students" asp-action="Index" class="btn btn-success">Manage</a>
    </div>
    <div class="col-md-4">
        <h2>Manage Courses</h2>
        <p>Add new courses, edit details, or delete courses</p>
        <a asp-area="" asp-controller="Courses" asp-action="Index" class="btn btn-success">Manage</a>
    </div>
    <div class="col-md-4">
        <h2>Manage Instructors</h2>
        <p>Add new instructors, edit details, or delete instructors</p>
        <a asp-area="" asp-controller="Instructors" asp-action="Index" class="btn btn-success">Manage</a>
    </div>
</div>