@{
    ViewData["Title"] = "Home Page";
}

<div id="mainPage">
    <h1 class="col-lg-6">Choose The Right movie to watch with your family</h1>
    <a asp-area="" asp-controller="Movies" asp-action="Index" class="btn btn-danger">Get Started</a>
</div>
