@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>
    <i class="material-icons">people</i>&nbsp;@ViewData["Title"]
</h2>
<h3>@Model.Message</h3>

<p>This is my first project using Razor ASP.NET.</p>
